/*  */
:root {
	--ButtonsT: 33px;
	--MenuText: 30px;
	--W1: 38px;
	--W2: 76px;
	--W3: 29px;
	--AMT: 57px;
	--AM12: 29px;
	--SkillN: 29px;
	--SkillB: 86px;
	--SkillI: 19px;
}

body {
	padding: 0;
	margin: 0;
	background: black;
}

#loadScreen {
	position: absolute;
	top: 0;
	z-index: 100;
	height: 100vh;
	width: 100vw;
	background-color: rgb(0, 0, 0, 1);
	opacity: 1;
	transition: opacity ease-in-out 1s;
}

#container {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	box-sizing: border-box;
	border: solid 1px #555;
	border-width: 0 2px 0 2px;
}

#slideDiv {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200%;
	overflow: hidden;
	transition: none;
}

#startScreen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background-image: url('img/+/sphereDiv.png');
	background-size: 100% 100%;
	opacity: 0;
	transition: opacity ease-in-out 1s;
}

#Div1_hide {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 200%;
	width: 47%;
	background: black;
	opacity: 0;
	transition: opacity ease-out 0.5s;
}

#buttonConteiner {
	position: absolute;
	top: 81.5%;
	right: 5%;
	height: 18%;
	width: 9%;
	opacity: 0;
	transition: opacity ease-out 0.5s;
}

#buttonCanvas {
	position: relative;
	height: 100%;
	width: 100%;
}

#Button {
	position: absolute;
	top: 50%;
	left: 50.5%;
	height: 75%;
	width: 75%;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(rgb(0, 0, 0, 1) 40%, rgb(0, 0, 0, 0) 70%);
}

#inButton {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 66.6%;
	transform: translate(-50%, -50%);
	color: #666;
	font-size: var(--ButtonsT);
	font-weight: 900;
	text-align: center;
	line-height: var(--ButtonsT);
	font-family: 'Oswald', sans-serif;
	user-select: none;
}

#inButton:hover {
	cursor: pointer;
	color: #fff;
}

#welcome1 {
	position: absolute;
	top: 51%;
	left: 48%;
	color: #aaa;
	font-size: var(--W1);
	font-family: 'Fira Sans', sans-serif;
	opacity: 0;
	transition: top ease-out 0.7s, opacity linear 0.7s;
}

#welcome2 {
	position: absolute;
	top: 58%;
	left: 48%;
	color: #fff;
	width: 50%;
	font-size: var(--W2);
	font-family: 'Fira Sans', sans-serif;
	opacity: 0;
	transition: top ease-out 0.7s, opacity ease-out 0.7s;
}

#welcome3 {
	position: absolute;
	top: 54%;
	left: 48%;
	width: 48%;
	margin-top: 8%;
	color: #aaa;
	font-size: var(--W3);
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	opacity: 0;
	transition: top ease-out 0.7s, opacity ease-out 0.7s;
}

#myPhoto {
	position: absolute;
	top: 11%;
	right: 7%;
	height: 55%;
	width: 21%;
	background-image: url('img/photo/JP5-Poly2.png');
	background-size: 100% 100%;
}

#secondDiv {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 50%;
	background-image: url("img/+/secondDiv2.png");
	background-size: 100% 100%;
}

#Div2_hide {
	position: absolute;
	top: 0%;
	left: 45%;
	height: 200%;
	width: 55%;
	background: black;
	opacity: 1;
	transition: opacity ease-out 0.5s;
}

#buttonConteiner2 {
	position: absolute;
	z-index: 10;
	top: 84%;
	left: 0%;
	height: 18%;
	width: 9%;
	opacity: 0;
	transition: top ease-out 0.5s, opacity ease-out 0.5s;
}

#buttonCanvas2 {
	position: relative;
	height: 100%;
	width: 100%;
}

#Button2 {
	position: absolute;
	top: 50%;
	left: 50.5%;
	height: 75%;
	width: 75%;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(rgb(0, 0, 0, 1) 40%, rgb(0, 0, 0, 0) 70%);
}

#inButton2 {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 66.6%;
	transform: translate(-50%, -50%);
	color: #666;
	font-size: var(--ButtonsT);
	font-weight: 900;
	text-align: center;
	line-height: var(--ButtonsT);
	font-family: 'Oswald', sans-serif;
	user-select: none;
}

#inButton2:hover {
	cursor: pointer;
	color: #fff;
}

#buttonConteiner3 {
	position: absolute;
	z-index: 10;
	top: 84%;
	left: 43%;
	height: 18%;
	width: 9%;
	opacity: 0;
	transition: top ease-out 0.5s, opacity ease-out 0.5s;
}

#buttonCanvas3 {
	position: relative;
	height: 100%;
	width: 100%;
}

#Button3 {
	position: absolute;
	top: 50%;
	left: 50.5%;
	height: 75%;
	width: 75%;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(rgb(0, 0, 0, 1) 40%, rgb(0, 0, 0, 0) 70%);
}

#inButton3 {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 66.6%;
	transform: translate(-50%, -50%);
	color: #666;
	font-size: var(--ButtonsT);
	font-weight: 900;
	text-align: center;
	line-height: var(--ButtonsT);
	font-family: 'Oswald', sans-serif;
	user-select: none;
}

#inButton3:hover {
	cursor: pointer;
	color: #fff;
}

#aboutMeTheme {
	position: absolute;
	top: 11%;
	left: 2%;
	height: 100px;
	width: 46%;
	color: #ccc;
	text-align: center;
	font-size: var(--AMT);
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	opacity: 0;
	transition: top ease-out 0.7s, opacity linear 0.7s;
}

.aboutMe {
	color: #aaa;
	font-size: var(--AM12);
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	opacity: 0;
}

#aboutMe1 {
	position: absolute;
	top: 19%;
	left: 8%;
	width: 38%;

	opacity: 0;
	transition: top ease-out 0.7s, opacity linear 0.7s;
}

#aboutMe2 {
	position: absolute;
	top: 33%;
	left: 8%;
	width: 38%;

	opacity: 0;
	transition: top ease-out 0.7s, opacity linear 0.7s;
}

#skillsContainer {
	position: absolute;
	top: 59%;
	left: 3%;
	height: 30%;
	width: 38%;
	opacity: 0;

	color: #ddd;
	font-family: 'Fira Sans', sans-serif;
	font-size: var(--SkillN);
	font-weight: 300;

	display: flex;
	justify-content: space-around;

	transition: top ease-out 0.7s, opacity linear 0.7s;
}

#leftSkills,
#rightSkills {
	width: 50%;
}

.skills {
	height: 19%;
	width: 99%;
	margin: 0.9%;

	display: flex;
	justify-content: space-around;
}

.skillsName {
	padding-top: 4%;
	height: 40%;
	width: 50%;
	text-align: right;
	user-select: none;
}

.skillsRate {
	height: 100%;
	width: 50%;
	font-size: var(--SkillB);
	padding-top: 6%;
	font-family: none;
	font-weight: 900;
	line-height: 1px;
	text-align: center;
	user-select: none;

	background-image: linear-gradient(to right, red 26%, gray 27%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#Cpp .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#HTML .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#CSS .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#JS .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#PHP .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#MySQL .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#JQ .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#THREE .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#JAVA .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#BOOTSTRAP .skillsRate {
	background-image: linear-gradient(to right, #ddd 49%, #555 50%);
	background-size: 200% 200%;
	background-position: 100% 0%;
	transition: background-position linear 1s;
}

#instraction {
	position: absolute;
	top: 104%;
	left: 57%;
	transform: translate(-50%, -50%);
	font-size: var(--SkillI);
	font-family: 'Fira Sans', sans-serif;
	animation: blink 1s linear infinite;
}

#instraction a:link {
	color: #ff7777;
}

#instraction a:hover {
	color: #7777ff;
}

#instraction a:visited {
	color: #bbbbbb;
}

@keyframes blink {
	0% {
		color: red;
	}

	50% {
		color: #ddd;
	}

	100% {
		color: red;
	}
}